---
HeaderFileExtensions:
  - h
ImplementationFileExtensions:
  - c
HeaderFilterRegex: "./include/document.h"
FormatStyle: file
Checks: "*,\
  -altera-struct-pack-align,\
  -altera-unroll-loops,\
  -bugprone-macro-parentheses,\
  -llvm-header-guard,\
  -llvmlibc-restrict-system-libc-headers\
"
WarningsAsErrors: '*'
